<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.genpro.genproprioritas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="HardcodedDebugMode">
        <activity android:name=".gallery.GalleryActivity"></activity>
        <activity android:name=".insertBisnis.InsertBisnisActivity" />
        <activity android:name=".bisnis.BisnisActivity" />
        <activity android:name=".askbod.AskBodActivity" />
        <activity
            android:name=".Splash"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sejarah.SejarahActivity" />
        <activity android:name=".visimisi.VisimisiActivity" />
        <activity android:name=".kegiatan.KegiatanActivity" />
        <activity android:name=".membership.MembershipActivity" />
        <activity android:name=".gmbgenpro.GMBActivity" />
        <activity android:name=".search.SearchActivity" />
        <activity android:name=".editProfile.EditProfileActivity" />
        <activity android:name=".editBisnis.EditBisnisActivity" />
        <activity android:name=".detailBisnis.DetailBisnisActivity" />
        <activity android:name=".register.RegisterActivity" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true"></activity>
        <activity android:name=".profile.ProfileActivity" />
        <activity android:name=".main.MainActivity" />
    </application>

</manifest>