<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.genpro.genproprioritas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="HardcodedDebugMode">
        <activity android:name=".logins.forgotPassword.ForgotPasswordActivity"
            android:parentActivityName=".logins.login.LoginActivity"/>
        <activity android:name=".drawer.gallery.GalleryActivity" />
        <activity android:name=".genproBisnis.insertBisnis.InsertBisnisActivity" />
        <activity android:name=".genproBisnis.bisnis.BisnisActivity" />
        <activity android:name=".drawer.askbod.AskBodActivity" />
        <activity
            android:name=".Splash"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".drawer.sejarah.SejarahActivity" />
        <activity android:name=".drawer.visimisi.VisimisiActivity" />
        <activity android:name=".drawer.kegiatan.KegiatanActivity" />
        <activity android:name=".membership.MembershipActivity" />
        <activity android:name=".drawer.gmbgenpro.GMBActivity" />
        <activity android:name=".drawer.search.SearchActivity" />
        <activity android:name=".logins.editProfile.EditProfileActivity" />
        <activity android:name=".genproBisnis.editBisnis.EditBisnisActivity" />
        <activity android:name=".genproBisnis.detailBisnis.DetailBisnisActivity" />
        <activity android:name=".logins.register.RegisterActivity" />
        <activity
            android:name=".logins.login.LoginActivity"
            android:exported="true" />
        <activity android:name=".logins.profile.ProfileActivity" />
        <activity android:name=".main.MainActivity" />
    </application>

</manifest>